# Core data processing
xarray==2024.3.0
numpy==1.26.4
scipy
netCDF4

# Data access
copernicusmarine
podaac-data-downloader

# Visualization
matplotlib
rtree
cartopy

# Data formats
geojson

# Async/Web
aiohttp
