# Core data processing
xarray>=2023.12.0
netCDF4>=1.6.5
numpy>=1.26.2
scipy>=1.11.4
aiohttp>=3.9.1
matplotlib>=3.9
copernicusmarine>=1.0.0
h5netcdf>=1.3.0
pandas>=2.1.4
shapely>=2.0.2
geopandas>=0.13.0
psutil>=5.9.7
geojson>=3.1.0
cartopy>=0.22.0
skimage>=0.22.0

# Data access
podaac-data-subscriber

# Visualization
rtree

# Data formats
geojson
